node_modules/
dist/
.env
logs/
*.log
coverage/
.DS_Store
.vscode/
.idea/
*.swp
npm-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
*.tgz
.cache/
.next/
out/
*.local
*.tsbuildinfo
.svelte-kit/
.vite/
.env.local
.env.development.local